<div mdbModal #createClassModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mycreateClassModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="createClassModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title" id="myModalLabel1">Create New Assignment</h5>
      </div>
      <div *ngIf="assignmentErrorMessage">
        <div class="alert alert-primary">
          {{ assignmentErrorMessage }}
        </div>
      </div>
      <div class="modal-body pt-0">
        <form>
          
          <div class="md-form">
            <input [(ngModel)]="assignmentName" name="assignmentName" mdbInput type="text" class="form-control" id="form91">
            <label for="form91">Assignment Name</label>
          </div>

          <div class="md-form">
            <textarea type="text" name="description" [(ngModel)]="description" id="form71" class="md-textarea form-control" mdbInput></textarea>
            <label for="form71">Assignment Description</label>
          </div>
          
          <div class="mdb-form">
            <div class="form-group">
              <input (change)="fileChange($event)" type="file" class="btn" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button (click)="createNewAssignment()" type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Create Assignment</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #createQuizModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mycreateQuizModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="createQuizModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title" id="myModalLabel12">Create New Quiz</h5>
      </div>

      <div *ngIf="quizMessage">
        <div class="alert alert-primary">
          {{ quizMessage }}
        </div>
      </div>

      <div class="modal-body pt-0">
        <form>
          <div class="md-form">
            <input [(ngModel)]="quizName" name="quizName" mdbInput type="text" class="form-control" id="form9">
            <label for="form9">Quiz Name</label>
          </div>
          <div class="md-form">
            <textarea type="text" name="quizDescription" [(ngModel)]="quizDescription" id="form7" class="md-textarea form-control" mdbInput></textarea>
            <label for="form7">Quiz Description</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="createNewQuiz()" type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Create Quiz</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="classRoomModel">
  <div class="alert bg-primary text-light text-bolder">
    <span>
      <strong>Room Name</strong>: {{ classRoomModel.name }}
    </span>
    <span class="ml-5">
      <strong>Room Id</strong>: {{ classRoomModel.codeWord }}
    </span>
    <span class="ml-5">
      <strong>Creator:</strong>: {{ classRoomModel.creator.name }}
    </span>
    <div class="mt-2">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="btn btn-info btn-sm">Leave Room</a>
      <a [routerLink]="['/test']" routerLinkActive="router-link-active" class="btn btn-info btn-sm ml-2">Test Submissions</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 mt-2">
      <ngb-tabset type="pills">

        <ngb-tab title="Classroom">
          <ng-template ngbTabContent>
            <div class="mt-2">
              Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
              master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
              dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
              iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Students">
          <ng-template ngbTabContent>
            <div *ngIf="classRoomModel.student.length > 0">
              <div class="container">
                <ul class="list-group" *ngFor="let student of classRoomModel.student">
                  <li class="list-group-item mt-2">{{ student.name }}</li>
                </ul>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Quizzes">
          <ng-template ngbTabContent>
            <div *ngIf="classRoomModel.creator._id === userModel._id">
              <button (click)="createQuizModal.show()" type="button" mdbBtn color="primary" mdbWavesEffect>Create New Quiz</button>
            </div>

            <div class="row ml-3 mr-3 mt-3">
              <div *ngFor="let quiz of quizzes" class="col-lg-3">
                <mdb-card>
                  <mdb-card-body>
                    <mdb-card-title>
                      <strong>{{ quiz.name }}</strong>
                      <span *ngIf="classRoomModel.creator._id === userModel._id">
                        <a target="_blank" href='http://localhost:5000/quiz/exportFiles/quiz/{{quiz._id}}' class="ml-2 btn-sm" type="button" mdbBtn color="primary" mdbWavesEffect>
                          Export All
                        </a>
                      </span>
                    </mdb-card-title>
                    <mdb-card-text class="mt-3">
                      {{ quiz.statement }}
                    </mdb-card-text>
                    <div class="card">
                      <div class="card-body">
                        <form>
                          <div class="form-group">
                            <input class="form-control" (change)="quizFileChange($event)" type="file">
                          </div>
                           <button (click)="submitQuizSolution(quiz._id)" class="btn btn-primary">Upload Solution</button>
                        </form>
                      </div>
                    </div>
                  </mdb-card-body>
                </mdb-card>
              </div>
            </div>

          </ng-template>
        </ngb-tab>

        <ngb-tab title="Assignments">
          <ng-template ngbTabContent>
            <div *ngIf="classRoomModel.creator._id === userModel._id">
              <button (click)="createClassModal.show()" type="file" mdbBtn color="primary" mdbWavesEffect>Create New Assignment</button>
            </div>

            <div class="row ml-3 mr-3 mt-3">
              <div *ngFor="let assignment of assignments" class="col-lg-3">
                <mdb-card>
                  <mdb-card-body>
                    <mdb-card-title>
                      <h4>{{ assignment.name }}</h4>
                    </mdb-card-title>
                    <mdb-card-text>
                      {{ assignment.description }}
                    </mdb-card-text>
                    <a 
                      target="_blank" 
                      href='http://localhost:5000/assignment/downloadAssignment/{{assignment._id}}' mdbBtn 
                      color="primary" 
                      class="btn-sm" 
                      mdbWavesEffect>
                        Get Assignment
                    </a>
                  </mdb-card-body>
                </mdb-card>
              </div>
            </div>

          </ng-template>
        </ngb-tab>

      </ngb-tabset> 
    </div>
    <div class="col-lg-4 mt-2">
      <div class="text-bold alert alert-primary">
        Messages
      </div>
      <input placeholder="Start Typing..." type="text" class="form-control">
      <div class="room-body">
        <div class="container">
          eiuwfhfwih
        </div>
      </div>
    </div>
  </div>
</div>
