<div  *ngIf="isAuthenticated">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue-gradient">
    <mdb-navbar-brand><a class="navbar-brand text-uppercase" [routerLink]="['/home']" routerLinkActive="router-link-active" >Classroom</a></mdb-navbar-brand>
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a (click)="createClass()" class="nav-link waves-light" mdbWavesEffect>Create Class</a>
        </li>
        <li class="nav-item">
          <a (click)="joinClass()" class="nav-link waves-light" mdbWavesEffect>Join Class</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/user/logout']" class="nav-link waves-light">Logout</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</div>
